# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# IntelliJ 설정
.idea/
*.iml

# 빌드 아웃풋
/out/
build/
target/
*.class

# 기타
.DS_Store
Thumbs.db
*.log